{%- macro tileGrid(items, heading, description) -%}
  <section class="app-hero-section govuk-!-padding-top-9 govuk-!-padding-bottom-7">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-font-size-64 govuk-!-margin-top-5 app-hero-title">
            {{ heading }}
          </h1>
          <p class="govuk-body-l">
            {{ description }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="govuk-!-margin-bottom-0">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="dfe-grid-container">
            {% for item in items %}
              <a href="{{ item.href }}" class="dfe-card">
                <div class="dfe-card-container">
                  <h3 class="govuk-heading-m">
                    <span class="govuk-link govuk-link--no-visited-state dfe-card-link--header">{{ item.title }}</span>
                  </h3>
                  <p class="govuk-body">{{ item.description }}</p>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{%- endmacro -%}
