{%- macro tileGrid(items, heading, description) -%}

  <div class="defra-hero">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-top-4">{{ heading }}</h1>
          <p class="govuk-body-l">{{ description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">
    <section class="defra-section">
      {% if items.length %}
        <ul class="defra-tile-grid">
          {% for item in items %}
            <li>
              <div class="defra-tile">
                <h3 class="govuk-heading-m defra-tile__title">
                  <a class="defra-tile__link" href="{{ item.href }}">{{ item.title }}</a>
                </h3>
                <p class="govuk-body defra-tile__body">{{ item.description }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="govuk-body">There are no entries yet. Check back soon.</p>
      {% endif %}
    </section>
  </div>

{%- endmacro -%}
