{% extends 'layouts/page.njk' %}
{% from 'partials/tile-grid.njk' import tileGrid %}

{% set mainClasses = "app-main-wrapper app-main-wrapper--hero" %}

{% block content %}
  {{ tileGrid(lessons, heading, description) }}
{% endblock %}
