@use 'govuk-frontend' as *;

// Blog post image container
.app-blog-image {
  aspect-ratio: 16/9;
  border: 1px solid govuk-colour('mid-grey');

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

// Blog post date
.app-blog-date {
  color: govuk-colour('dark-grey');
}
