// App colours
$app-light-grey: #f8f8f8;

// Defra brand colours
// Use these in custom defra- components only. Do not redefine govuk- classes.
$defra-green: #008531;
$defra-green-light: #00a33b;
$defra-green-dark: #006a27;
